sim/csrc/
sim/simv.daidir/
sim/simv
sim/*.log
sim/*.hex
sim/*.bin
sim/ucli.key
sim/vc_hdrs.h
sim/FP_TRACE
sim/urgReport/
__pycache__/
riscv-arch-test/work/
riscv-dv/
dtc-1.6.1.tar.gz
install.sh
rtl.patch
run_test.sh
simv
spike_wrapper.sh
ucli.key
uvm.patch
fix_*.py
auto_fix_yaml.py
modify_yaml.py
patch*.py
run_compliance.py
temp_inspect.py
write_tests.py
make_out.log
spike_trace.log
tests_data.json
testlist.yaml
bin/
config/
csrc/
sim/AN.DB/
sim/compile_uvm
sim/simv_uvm
sim/simv_uvm.daidir/
sim/simv_uvm.vdb/
simv.daidir/
dtc-1.6.1/
dtc_install/
spike_install/
