sim/csrc/
sim/simv.daidir/
sim/simv
sim/*.log
sim/*.hex
sim/*.bin
sim/ucli.key
sim/vc_hdrs.h
sim/FP_TRACE
sim/urgReport/
__pycache__/
riscv-arch-test/work/
riscv-dv/
dtc-1.6.1.tar.gz
install.sh
rtl.patch
run_test.sh
simv
spike_wrapper.sh
ucli.key
uvm.patch
